@import "/../wright/build/libraries/bootstrap/less/utilities";

body {
	border-top: 3px solid @color_five;
}

.bg-color {
	.box-shadow(0 1px 4px rgba(0,0,0,0.065));
	.box-sizing(border-box);
	padding: 1rem;
}

.bg-color-white {
	background-color: @white;
}

.bg-color-one {
	background-color: @color_one;

	a {
		color: @navbarInverseLinkColorHover;

		&:hover, &:focus {
			color: darken(@navbarInverseLinkColorHover, 10%);
		}
	}

	.list-striped, .row-striped {
		border-top-color: darken(@color_one, 5%);
	}

	.list-striped li:nth-child(odd), .list-striped dd:nth-child(odd), .row-striped .row:nth-child(odd), .row-striped .row-fluid:nth-child(odd) {
		background-color: darken(@color_one, 4%);
	}

	.list-striped li, .list-striped dd, .row-striped .row, .row-striped .row-fluid {
		border-bottom-color: darken(@color_one, 5%);
	}

	.list-striped li:hover, .list-striped dd:hover, .row-striped .row:hover, .row-striped .row-fluid:hover {
		background-color: darken(@color_one, 7%)
	}
}

.bg-color-five {
	background-color: @color_five;

	a {
		color: @navbarInverseLinkColorHover;

		&:hover, &:focus {
			color: darken(@navbarInverseLinkColorHover, 10%)
		}
	}

	.list-striped, .row-striped {
		border-top-color: darken(@color_five, 5%);
	}

	.list-striped li:nth-child(odd), .list-striped dd:nth-child(odd), .row-striped .row:nth-child(odd), .row-striped .row-fluid:nth-child(odd) {
		background-color:  darken(@color_five, 4%);
	}

	.list-striped li, .list-striped dd, .row-striped .row, .row-striped .row-fluid {
		border-bottom-color: darken(@color_five, 5%);
	}

	.list-striped li:hover, .list-striped dd:hover, .row-striped .row:hover, .row-striped .row-fluid:hover {
		background-color: darken(@color_five, 7%)
	}
}

.bg-color-six {
	background-color: @color_six;
}

.bg-gradient {
	.bg-color;
  #gradient > .vertical(@bg_gradient, @bg_gradient2);
	color: white;

	a {
		color: @navbarInverseLinkColorHover;

		&:hover, &:focus {
			color: darken(@navbarInverseLinkColorHover, 10%)
		}
	}
}

.border-radius-bottom {
	border-bottom-left-radius: @borderRadiusLarge;
	border-bottom-right-radius: @borderRadiusLarge;
}

.top-negative {
	margin-top: -3rem;
	padding-top: 4rem;
}

// Various

p:last-child,
form:last-child,
.pagination, .pager {
	.m-b-0;
}

.pagination {
	.m-t-3;
}

.pager {
	.m-t-2;
}

.pager li>a, .pager li>span {
	border-radius: @baseBorderRadius;
}

.badge {
	font-size: 13px;
}

.counter {
	line-height: 34px;
	margin-left: 5px;
	margin-bottom: 0;
}

.nav-tabs .open h3 a,
.nav-tabs .open p a,
.nav-tabs>.active>a,
.nav-tabs>.active>a:hover,
.nav-tabs>.active>a:focus {
	background-color: white;
}


div.cat-children h3,
div.categories-list h3
{
	padding-top: 0;
}

//

.nav {
	li {
		a {
			font-family: @altFontFamily;
		}
	}

	> li {
		> a {
			font-size: @baseFontSize - 1;

			@media (max-width: 1200px) {
				font-size: @baseFontSize - 3;
			}
		}
	}
}

.navbar {
	.nav {
		.m-b-0;

	 	> li {
	 		> a {
				.border-radius(0);
				padding-bottom: 1rem;
				padding-top: 1rem;
	 			text-shadow: none;
	 		}
	 	}
	}

	@media	(min-width: 979px) {
		li {
			ul {
				//opacity: 0;
				display: block;
				max-height: 0;
				max-width: 0;
				overflow: hidden;
				padding: 0;
				transition: all .6s ease;

				li a {
					padding-bottom: 8px;
					padding-top: 8px;
				}
			}

			&:hover ul {
			//					opacity: 1;
				max-width: 767px;
				max-height: 720px;
			}
		}
	}

	@media (max-width: 979px) {
		.dropdown-menu>li>a:hover,
		.dropdown-menu>li>a:focus,
		.dropdown-submenu:hover>a,
		.dropdown-submenu:focus>a {
			color: @linkColorHover;
		}

		.dropdown-menu>.active>a,
		.dropdown-menu>.active>a:hover,
		.dropdown-menu>.active>a:focus {
			background-color: transparent;
			color: @linkColorHover;
		}
	}

	.dropdown-menu {
		.border-radius(0);
		.box-shadow(none);
	}

	.btn-navbar {
		.icon-bar {
			display: none;
		}

		&:before {
			color: @textColor;
			content: "\f063";
			font-family: FontAwesome;
		}
	}
}

.navbar-inner {
	.bg-color;
	.box-shadow(none);
	padding: 0;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
	.box-shadow(none);
}

.navbar-inverse .navbar-search .search-query {
	background-color: #fff;
}


.dropdown-menu, .submenu {
	li a {
		font-size: @baseFontSize - 3;
	}

	.divider {
		background-color: darken(@dropdownBackground, 10%);
		border-bottom-color: darken(@dropdownBackground, 10%);
	}
}

.dropdown-menu {

	&:after, &:before {display: none; content: none !important;}
}

.submenu > li {
	&:last-child {
		padding-bottom: .5rem;
	}

	&:first-child {
		padding-top: .6rem;
	}
}

#menu {
	padding-top: 2.1rem;

	.navbar {.m-0;}
}

.navbar {
	margin-bottom: 2rem;
}

.breadcrumb {
	margin-bottom: 1rem;
}

[class*="module"] {
	margin-bottom: 3rem;

	&:last-child {
		margin-bottom: 3rem;
	}
}

#below-content {
	[class*="module"] {
		&:last-child {
			.m-b-0;
		}
	}
}

.wrightmodule-imgfeatured {
	margin: -1rem -1rem 1rem;
}

.wrightmodule-content {
	.m-b-0;
}

[class*="latestnews"] {
	list-style: none;
	margin-left: 0;
}

[class*="newsflash-horiz"] {
	.article-separator {
		display: none;
	}
}

[class*="img-intro"] {
	margin-bottom: 1rem;
}

.breadcrumb {
	background-color: transparent;
	.p-0;

	> .active {
		color: @textColor;
	}
}
input.search-query {
	.border-radius(@baseBorderRadius);
}
.categories-list, .cat-children {
	h3 {
		font-size: 1rem;
	}
}

.label, .badge {
	font-family: @altFontFamily;
}

h1, h2, h3, h4, h5, h6,
.page-header {
	&:first-child {
		.m-t-0;
	}
}

a {
	&:hover, &:focus {
		text-decoration: none;
	}
}

.page-header {
	.p-b-0;
	.m-b-1;
}

#bottom-menu {
	.navbar-inner {
		border: 0;
		border-radius: 0;
		// .border-radius-bottom;
		text-align: center;
	}

	.nav-collapse {
		display: inline-block;
	}

	.navbar {.m-0;}
}

#footer {
	.bg-color;
	.bg-color-five;
	color: @white;
	padding-bottom: 0;
	padding-top: 0;
}

.footer-content {
	.row-fluid {
		padding-bottom: 5rem;
		padding-top: 5rem;
	}

	[class^="module"]:not(.none):not(.alert):not(.hero-unit) {
		padding-left: 1rem;
		padding-right: 1rem;

		@media (min-width: 979px) {
			padding-left: 2rem;
			padding-right: 2rem;
		}

		@media (min-width: 767px) {
			border-left: 1px solid darken(@color_five, 6%);
			.m-b-0;

			&:first-child {
				border-left: 0;
			}
		}
	}

}

.z1 {
	z-index: 1;
}

.z2 {
	z-index: 2;
}

.relative {
	position: relative;
}

.items-bg [class^="module"]:not(.none):not(.alert):not(.hero-unit):not(.well),
.module > [class^="module"]:not(.none):not(.alert):not(.hero-unit):not(.well) {
	.bg-color;
	.bg-color-white;
}

.well {
	.bg-color;
	border: 0;
	margin-bottom: 2rem;
	color: @black;
}

.hero-unit {
	> h3 {
		font-size: 2rem;
	}
}

.container {
	width: 800px;
}

.img-polaroid {
	.box-sizing(border-box);
}

select {
	border-color: @color_four;
}

.nav,
.login,
.alert,
.table,
pre.prettyprint,
#archive-items > div,
.categories-list .collapse > div {
	margin-bottom: 2rem;

	&:last-child {
		margin-bottom: 0;
	}
}

.items-more,
.items-leading,
.items-leading > div,
.items-row {
	margin-bottom: 3rem;

	&:last-child {
		margin-bottom: 0;
	}
}

.blog, #login-form .nav {
	margin-bottom: 0;
}

[class*="blog"] > .category-desc,
[class*="content-category"] > .category-desc {
	margin-bottom: 3rem;
}

.cat-children {
	> div, > h3 {
		.m-b-1;
	}
}

.categories-list .collapse.in {
	.m-t-2;
}

.items-row {
	.item {
		.clearfix();
	}

	h2,
	.article-info {
		text-align: center;
	}

	@media (max-width: 767px) {
		> div {
			margin-bottom: 3rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}


.items-row > div,
.items-leading > div,
.blog > .items-more,
.blog > .page-header,
.blog > .category-desc,
.blog > .cat-children {
	.bg-color;
	.bg-color-white;
}

.items-more {
	margin-top: 0;

		h3 {
		.p-0;
	}
}

dl.article-info {
	.m-b-1;
	.p-0;

	dd {
		margin-right: 5px;
	}
}

.btn {
	.box-shadow(none);
	text-shadow: none;
}

.btn:not(.btn-link) {
	color: @white;

	.caret {
		border-top-color: @white;
		border-bottom-color: @white;
	}

	&:hover, &:focus {
		color: white;
	}
}

.blog, .blog-featured {
	.icons, .item-image {
		+ * {
			.clear;
		}
	}
}

.jssocialicons-horizontal {
	.clearfix();
	margin-left: 0;
}

p.readmore {
	float: left !important;
	font-family: @altFontFamily;
	.m-t-1;

	.btn {
		background-color: transparent;
		float: none;
		border: 0;
		color: @linkColor;
		padding: 0;

		&:hover, &:focus {
			.box-shadow(none);
			color: @linkColorHover;
		}

		[class*="icon-"] {display: none;}
	}
}

.not_blog {
	#main {
		.bg-color;
		.bg-color-white;
	}
}

.is_blog {
	.breadcrumb {
		margin-bottom: 2rem;
	}
}

body > ul.autocompleter-choices {
	border: 0;
}

.wrapper-bottom-menu {
	text-align: center;
}

.wrapper-bottom-menu .nav-collapse {
	display: inline-block;
}

.input-prepend input, .input-append input, .input-prepend input[class*="span"], .input-append input[class*="span"] {
	box-sizing: content-box !important;
	height: 24px !important;
}

#sidebar1, #sidebar2 {
	input {
		max-width: 70%;
	}

	> div {
		margin-bottom: 0;
		> div:last-child {
			margin-bottom: 0;
		}
	}
}

#main, #sidebar2, #sidebar1 {
	margin-bottom: 3rem;
}

.finder {
	> * {
		margin-left: 4px;

		&:first-child {
			margin-left: 0;
		}
	}

	> .btn {
		line-height: 20px;
		vertical-align: top;
	}
}

.search {
	.form-inline {
		> .btn {
			line-height: 20px;
			vertical-align: top;
		}

		.inputbox {
			max-width: 56% !important;
		}
	}
}
