@media (min-width: 1200px) {
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	    width: 960px;
	}
}

@media	(max-width: 1200px) and (min-width: 767px) {
	.span3, .span2, .span1 {
		[class*="mostread"],
		[class*="latestnews"] {
			[class*="icon"] {
				display: none;
			}
		}
	}
}

@media (max-width: 1200px) {
	body {
		font-size: @baseFontSize - 2;
		line-height: @baseLineHeight - 2;
	}

}

@media (min-width: 980px) {
	#header {

		.navbar .navbar-inner {

			.nav {
				float: right;
			}
		}
	}
}

@media	(max-width: 979px) {
	.footer-content {
		font-size: @baseFontSize - 3;
		line-height: @baseLineHeight - 3;
	}
}

@media	(max-width: 767px) {
	.nav-tabs>li:last-child>a, .nav-tabs>.active:last-child>a {
		border-bottom-color: @tableBorder;
	}

	.filters, .word{
		.btn:last-child {
			margin-top: 1rem;
		}
	}

	.item-suburb, .item-phone{
		display: none;
	}

	#logo {
		text-align: center;
	}

	#main  + aside {
		margin-top: 3rem;

		[class*="module"]:last-child {
			margin-bottom: 0 !important;
		}
	}

	#sidebar2 {
		> div {
			margin-bottom: 0
		}
	}

	.text-center-phone {
		text-align: center;
	}

	.text-left-phone {
		text-align: left;
	}

	.text-right-phone {
		text-align: right;
	}
}