@import "/../wright/build/libraries/bootstrap/less/utilities";

#footer {
	color: @white;
	overflow: hidden;
	background-color: #1b1b1b;
	background-repeat: repeat-x;
	border-color: #252525;

	.moduletable, .module {
		.m-0;
	}
}
