body {font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;}
.componentheading {font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;font-size: 2em;}
table.blog td.contentheading {font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;font-size: 1.6em;}
td.contentheading {font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;font-weight: bold;font-size: 1.9em;letter-spacing: -1px;}
#nav li, #nav {font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;}
h1,h2,h3,h4,h5,h6 {font-weight: bold;}