/* @override http://demotemplates.joomlashack.com/optimus/templates/js_optimus/css/template_css.css */
.container_12 .flexgrid_1 {
width: 940px;
}
.container_12 .flexgrid_2 {
width: 460px;
}
.container_12 .flexgrid_3 {
width: 300px;
}
.container_12 .flexgrid_4 {
width:220px;
}
.container_12 .flexgrid_5 {
width:172px;
}
.container_12 .flexgrid_6 {
width: 140px;
}

}
#sidebar1 ul li ul li,
#sideber2 ul li ul li,
#sidebar1 ul li ul li a,
#sideber2 ul li ul li span{
	background-image: none;
}
#footer {
	background-color: #1e69a3;
	background-image: url(../images/blue/footer-l.jpg);
	background-repeat: no-repeat;
	background-position:bottom left;
}
#footer .footer-int{
	background-image: url(../images/blue/footer-r.jpg);
	background-repeat: no-repeat;
	background-position:bottom right;
	float:left;
	width: 100%;
}

/* @group Typography Helper Styles */

body, html {
	line-height: 150%;
	font-size: 100%;
	letter-spacing: 0px;
	min-height: 100%;
	height: auto;
}

/* Main Content Area Font Size */

td.maincol {
	line-height: 150%;
	font-size: 1.166666em;
}

/* Module Font Sizes */

td.leftcol,td.rightcol {
	font-size: 1em;
}
td.leftcol p,td.rightcol p {
	margin: 0;
}

/* Headings */


.componentheading {
	margin: 0px 0px 10px 4px;
}
table.blog table.contentpaneopen td.contentheading,td.contentheading {
	width: 100%;
}
h1,h2,h3,h4,h5,h6 {
	margin: .75em 0;
}

/* Latest/Popular Lists */


ul.latestnews,
ul.latestnewsS1,
ul.latestnewsS2,
ul.latestnewsS3,
ul.latestnewsbdr,
ul.mostread,
ul.mostreadS3,
ul.mostreadS1,
ul.mostreadS2,
ul.mostreadbdr {
	padding: 0px;
	margin: 0px 0px;
	list-style-type: none;
}


li.latestnews,
li.latestnewsS1,
li.latestnewsS2,
li.latestnewsS3,
li.latestnewsbdr,
li.mostread,
li.mostreadS3,
li.mostreadS1,
li.mostreadS2,
li.mostreadbdr {
	padding: 0px 0px 4px 14px;
	margin: 0px;
	background: url(../images/bullet.gif) no-repeat 0em .35em;
}


a.readon {
	text-decoration: underline;
	float: right;
	padding: 0px;
	margin: 0;
	font-weight: bold;
	font-size: 12px;
}

a.readon:hover {
	text-decoration: none;
}


/*Side Column Navigation (List) */

a.mainlevel-sidenav,ul.menu-sidenav {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 1.1em;
}

ul.menu-sidenav li,
a.mainlevel-sidenav {
	background: url(../images/bullet.gif) no-repeat 0 .15em;
	padding-left: 14px;
}

ul.menu-sidenav li li {
	background: none no-repeat 0 .25em;
	padding-left: 0em;
	list-style-type: circle;
	color: #cecece;

}
ul.menu-sidenav li ul {
	margin-left: 10px;
	padding: 0;
}


a.sublevel-sidenav {
	margin-left: 16px;
}

ul.menu-sidenav a,
a.mainlevel-sidenav,
a.sublevel-sidenav {
	text-decoration: none;
}

a.sublevel-sidenav:hover,
ul.menu-sidenav a:hover {
	text-decoration: underline;
}


/*If you want to use table based menus in vertical menu style*/

td.leftcol a.mainlevel, td.rightcol a.mainlevel {
	text-decoration: none;
	line-height: 135%;
	font-weight: bold;
}

td.leftcol a.mainlevel:hover, td.rightcol a.mainlevel:hover {
	text-decoration: underline;
}

/*Sublevel Support*/

td.leftcol a.sublevel,
td.rightcol a.sublevel
 {
	text-decoration: underline;
	padding-left: 4px;
	font-size: .9em;
}

td.leftcol a.sublevel:hover, td.rightcol a.sublevel:hover {
	text-decoration: none;
}

/* Lists */
td.maincol ol, td.maincol ul {margin-left:40px;margin-bottom: 5px;}
td.maincol li ul {margin-left:20px;margin-bottom: 0px;}
td.maincol ul li {list-style-type: disc;}
td.maincol ul li li {list-style-type: circle;}
/* Ordered Lists */
td.maincol ol {list-style-type: decimal;}
td.maincol ol ol {list-style-type: lower-alpha;}



p {margin: 10px 0px;}

pre {
	display: block;
	padding: 5px;
	margin: 10px;
	white-space: normal;
	font-family: "Courier New", Courier, monospace;
}


/*-----SPECIAL LIST STYLE (CHANGE OR ADD ANOTHER)-----*/

td.maincol ul.checklist,
td.leftcol ul.checklist,
td.rightcol ul.checklist {
	list-style: none;
}

td.maincol ul.checklist li,
td.leftcol ul.checklist li,
td.rightcol ul.checklist li {
	list-style: none;
	line-height: 16px;
	padding: 2px 0px 2px 18px;
	background: url(../images/tick.png) no-repeat left center;
	list-style-position: outside;
}

td.maincol ul.checklist a,
td.leftcol ul.checklist a,
td.rightcol ul.checklist a {
	text-decoration: underline;
	padding: 1px;
}

td.maincol ul.checklist a:hover,
td.maincol ul.checklist a:hover,
td.maincol ul.checklist a:hover {
	text-decoration: none;
	padding: 1px;
}

/* @end */


/* @group Structure */


.center-element {
	margin: 0 auto;
}
#header {width: 100%;}


#logo-graphic h1 {
	margin: 0px;
	padding: 0px;
	float: left;
}

#logo-graphic h1 a,
div#logo a.image h1 {
	display: block;
	text-indent: -8000em;
	line-height: 100%;
	background: url(../images/logo.png) no-repeat;
	margin: 0px;
	padding: 0px;
}
#logo-graphic h2,
div#logo a.image h2 {
	line-height: 0;
	height: 0;
	margin: 0;
	padding: 0;
	text-indent: -8000em;
}

#logo-text h1 a {
	display: block;
	line-height: 100%;
	text-decoration: none;
	background-image: none;
	margin: 0px;
	padding: 0px;
}
#logo-text {
	float: left;
}

#logo-text h1 {
	margin: 0px;
	padding: 0px;
}
#logo-text h2 {
	margin: 0px;
	padding: 0px;
}


#newsflash {
	top: 10px;
	right: 15px;
	width: 400px;
	position: absolute;
	overflow: hidden;
}

.menuleft {
	float: left;
	width: 10px;
	height: 52px;
	background: url(../images/menuleft.png) no-repeat left top;
}
.menuright {
	float: right;
	width: 10px;
	height: 52px;
	background: url(../images/menuright.png) no-repeat left top;
}

.mainbody {
	margin: 8px 0;
}

.banner {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}
td.leftcol,td.maincol,td.rightcol {
	vertical-align: top;
}
.inside {
	padding: 4px 8px;
}

#footer {
	height: auto;
	padding: 10px 0 0;
	text-align: center;
	margin: 0px auto;
	width: 100%;
	overflow: hidden;
	font: .90em/100% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#footer div.moduletable {
	margin-bottom: 10px;

}


.ftr-left {
	float: left;
	width: 10px;
	height: 30px;
	background: url(../images/ftr-left.png) no-repeat left bottom;
}
.ftr-right {
	float: right;
	width: 10px;
	height: 30px;
	background: url(../images/ftr-right.png) no-repeat left bottom;
}

.designer a {
	cursor: pointer;
	text-indent: -5000em;
	display:block;
	float: left;
	width: 75px;
	height: 12px;
	background: url(../images/jscright.png) no-repeat left top;
	margin-top: 4px;
}

/* @end */


/* @group Modules */


/* S1 */

h3 {
	margin: 10px 0;
}
div.moduleS1 h3 {

	text-indent: 0px;
	border: none;
}

div.moduleS2 h3 {

	text-indent: 0px;
	border: none;
}
div.moduleS3 h3,
div.moduleS1 h3,
div.moduleS2 h3
 {
	color: #fff;
	font-size: 1.2em;
	letter-spacing:normal;
    padding:0 10px;
}

div.moduleS3 h3 {
	text-indent: 0px;
	border: none;
	margin: 0;
	padding-bottom: 10px;
}

/* Module style Sin sufix  */

div.module {background: url(../images/blue/topright_bdr.png) 100% 0 no-repeat;}
div.module div.pad {background: url(../images/blue/topleft_bdr.png) 0 0 no-repeat; padding-top: 1px;}
div.module  div.pad2 {background: url(../images/blue/botright_bdr.png) 100% 100% no-repeat;}
div.module  div.pad3 {background: url(../images/blue/botleft_bdr.png) 0 100% no-repeat; padding: 12px 15px;}

/*
div.module  div.pad3 {
	padding: 12px 15px;
	border:1px solid #DFDFDF;
	border-radius: 10px;
	box-shadow:0 0 5px #ccc;
}*/
/* @end Modules */

/* @group Footer */


#footer #mainlevel ul {
	cursor: default;
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#footer #mainlevel li {
	cursor: default;
	display: inline;
	line-height: 12px;
	list-style-type: none;
	margin: 0;
	padding: 0 5px;
}


/* @end */

/* @group Joomla Specific Styles */

/* Login Module */
a.forgotpass,a.forgotuser,a.regusr {
	padding-left: 18px;
	line-height: 18px;
	display: block;
}
a.forgotpass  {background: url(../images/log_pass.png) no-repeat left center;}
a.forgotuser {background: url(../images/log_user.png) no-repeat left center;}
a.regusr {background: url(../images/log_reg.png) no-repeat left center;}

table.contentpaneopen td.buttonheading,
table.blog table.contentpaneopen td.buttonheading {
	padding: 0px;
	margin: 0;
}

div.mosimage {
	margin: 5px;
}

.pagenav {
	list-style: none;
	overflow: hidden;
	padding: 3px 5px 3px 3px;
}
.pagenav .previous{
	float: left;
}
.pagenav .next{
	float: right;
}

.pagination {
	> span {
		min-height: 37px;
	}
}

table.contenttoc {
	margin: 5px;
	padding: 1px;
	float: right;
}
table.contenttoc th {
	padding: 2px 10px;
}
table.contenttoc td {
	font-size: 0.9em;
	font-weight: normal;
	text-align: left;
	padding: 2px 0px 2px 4px;
}
table.contenttoc a {
	text-decoration: none;
	line-height: 1em;
}
table.contentpaneopen {
	margin: 0;
	padding: 0;
	width: 100%;
}

table.blog table.contentpaneopen td {
	padding: 0px 4px;
}

/*Header for table content*/

td.sectiontableheader {
	font-weight: bold;
	padding: 8px;
}

/*Alternating table rows*/

tr.sectiontableentry1 td,td.sectiontableentry1 {
	padding: 6px;
}

tr.sectiontableentry2 td ,td.sectiontableentry2 {
	padding: 6px;
}
/* Article Overflow */

div.blog_more,
div.items-more,
div.cat-children {
	border-top: 1px solid #e6e6d4;
	margin-top: 5px;
}
div.blog_more strong,
div.items-more h3,
div.cat-children h3 {
	position: relative;
}
div.blog_more ul li,
div.items-more ul li,
div.cat-children ul li,
div.items-more ol li,
div.cat-children ol li {
	list-style: none;
	background-image: none;
	padding: 0px;
}
div.blog_more ul li a,
div.items-more ul li a,
div.cat-children ul li a,
div.items-more ol li a,
div.cat-children ol li a {
	text-decoration: none;
	display: block;
	padding: 4px;
}
div.blog_more ul li a:hover,
div.items-more ul li a:hover,
div.cat-children ul li a:hover,
div.items-more ol li a:hover,
div.cat-children ol li a:hover {
	text-decoration: none;
}

/* System Messages */

#system-message ul li {
list-style: none;
margin-left: 30px;
}

#system-message dd {
	text-indent: 0px;
}

#sys_messages {
	margin: 0px;
}

/* @end */
.wrap_12{
	width:960px;
}
div.logo-wrapp .logo-three{
	background-image: url(../images/blue/t-l.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	overflow: hidden;
}
div.logo-wrapp .container_12{
	background-image: url(../images/blue/t-r.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
div.logo-wrapp {
	background-image: url(../images/blue/t-repeat.jpg);
	background-repeat: repeat-x;

	background-position: left bottom;
}
#mbar{
	background:url(../images/blue/repeat-menu.jpg) repeat-x left top;

}
body.explorer.v_7 #nav ul{
	float: left;
	margin:0 0 5px 0;
	padding:0 0 5px 0;
}

#nav ul{
	float: left;
	margin:0 0 5px 0;
}

#mbar #nav{
	height:100%;
	background-image: url(../images/blue/b-r.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.nav-left{
	background-image: url(../images/blue/b-l.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	float: left;
}
.border-top{
	background-color: #1E69A3;
	height: 3px;
	width:100%;
}
.article-info {
    color: #99A1A7;
}
#logo{
	overflow: hidden;
}
blockquote {
    display: inline-block;
    font-family: "Times New Roman",Times,serif;
    font-size: 1.1em;
    font-style: italic;
    line-height: 25px;
    margin: 10px 0;
    padding: 0 0 0 36px;
}
.top{
	clear: both;
}
#footer li{
	float:left;
	margin-left: 10px;
}

div.module,
div.moduleS1,
div.moduleS2,
div.moduleS3{
	margin-bottom: 20px;
}
#header {
	z-index: 9050;
}
#footer {
	background-color: #1e69a3;
	color: #fff;
}

div.moduleS1 .pad-title,
div.moduleS2 .pad-title,
div.moduleS3 .pad-title {
    margin: -12px -15px 10px;

}
div.moduleS1 .pad3,
div.moduleS2 .pad3,
div.moduleS3 .pad3 {

    padding: 12px 15px;

}
div.moduleS1 .pad4,
div.moduleS2 .pad4{
	height: 9px;
	background-image: url(../images/blue/S1&S2/border-left.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	background-color: #538EBA;
}
div.moduleS1 .pad5,
div.moduleS2 .pad5{
	height: 9px;
	background-image: url(../images/blue/S1&S2/border-right.jpg);
	background-position: right top;
	background-repeat: no-repeat;
}
div.moduleS1 .pad7,
div.moduleS2 .pad7{
	height: 9px;
	background-image: url(../images/blue/S1&S2/bottom-left.jpg);
	background-position: left bottom;
	background-repeat: no-repeat;
	background-color: #F5FBFF;
}
div.moduleS1 .pad8,
div.moduleS2 .pad8{
	height: 9px;
	background-image: url(../images/blue/S1&S2/bottom-right.jpg);
	background-position: right top;
	background-repeat: no-repeat;
}
.footer1,
.footer2{
	color:#fff;
}

#grid-top{
	margin: 10px 0 0;
}
#sidebar1 ul li,
#sidebar2 ul li {
	background: url(../images/blue/bullet.gif) no-repeat 0em .35em;
	margin-left: 0;
	list-style: none;
	padding-left: 15px;
}

.blog h2 {
    border-bottom: 1px solid #EEEEEE;
    color: #4A4A4A;
    font-family: times,Times New Roman,times-roman,georgia,serif;
    font-size: 2.5666em;
    font-weight: normal;
    letter-spacing: -2px;
    line-height: 1.35em;
}
h2,h3,h4, h5,h6{
	font-weight:normal;
}
#sidebar1 a.nolink,
#sidebar1 span.nolink,
#sidebar2 a.nolink,
#sidebar2 span.nolink {
	text-decoration:underline;
    cursor: pointer;
}
a.joomlashack{
	height: 27px;
}
div.moduleS3 .pad4{
	height: 9px;
	background-image: url(../images/blue/S3/border-left.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	background-color: #1E69A3;
}
div.moduleS3 .pad5{
	height: 9px;
	background-image: url(../images/blue/S3/border-right.jpg);
	background-position: right top;
	background-repeat: no-repeat;
}
div.moduleS3 .pad7{
	height: 9px;
	background-image: url(../images/blue/S3/bottom-left.jpg);
	background-position: left bottom;
	background-repeat: no-repeat;
	background-color: #D2E2F1;
}
div.moduleS3 .pad8{
	height: 9px;
	background-image: url(../images/blue/S3/bottom-right.jpg);
	background-position: right top;
	background-repeat: no-repeat;
}
#nav ul li.current ul li.parent,
#nav ul li.active ul li.parent {
	background-image: url("../images/arrow_right.gif");
	background-position: right center;
	background-repeat: no-repeat;
}
#nav li li:last-child{
	border-bottom: 0 none;
}
/*Joomla 3*/
fieldset.filters div.alert{
	border: none;
	margin: 0;
	padding: 0;
}
.cat-children .icon-folder-open{
	display: none;
}
/*Tabs*/
dl.tabs dt.tabs h3{
	margin-bottom: 5px;
}
dl.tabs dt{
	background-color: #fff;
	border-radius: 5px 5px 0 0;
     border: 1px solid #ddd;
     border-bottom: none;
     box-shadow: none;
     margin: 5px 5px 0 0;
}
dl.tabs dt.open a {
	color: #aaa;
}
.tabs + div.current{
	box-shadow: none;
	border: 1px solid #ddd;
	background-color: #fff;
	border-radius: 0 5px 5px 5px;
	padding: 20px;
}
.tabs .form-validate{
	background-color: transparent;
	border: none;
	padding: 0;|
}
.contact dt.tabs{
	padding: 0px 8px 4px;
}
.panel h3{
	margin-left: 0;
	margin-top: 0;
}
.panel h3.pane-toggler-down a{
	border: none;
	margin-bottom: 0;
}
.panel h3.pane-toggler-down{
	background-color: #ccc;
	box-shadow: none;
}
.pane-slider.content{
	padding: 20px;
}
#advancedSearch hr{display: none;}
.category thead tr{
	color: #fff;
}
.hide-text {
font-size: 0 !important;
height: 18px !important;
line-height: 18px;
}
.hide-text::before {
font-size: 14px !important;
}
#nav [class^="icon-"],#nav [class*=" icon-"]{
	font-family: FontAwesome;
	padding-right: 10px;
	width: auto;
	min-height: 19px;
	line-height: 19px;
}
#nav [class^="icon-"]::before,#nav [class*=" icon-"]::before{
	margin-right: 3px;
}
#nav [class^="icon-"].hide-text, #nav [class*=" icon-"].hide-text{
	padding-right: 5px;
}
ul[class^="latestnews"] li{
	margin-left: 0;
}
aside .banneritem img{
	width: 100%;
}