/* @override http://demotemplates.joomlashack.com/optimus/templates/js_optimus/css/nav.css */
/* @group NAVBAR */

#nav ul li{
	float: left;
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	margin:5px;
	position: relative;
}
#nav ul li ul li {
    background-color:transparent;
    border-radius: 0 0 0 0;
	float:none;
	margin: 0;
    height: auto;
    background-color: transparent;
    white-space: nowrap;
}
body #nav ul li ul li a,
body #nav ul li ul li span{
	color:#fff;
	border-radius: 0;
	margin: 0 ;
	height: 100%;
	padding: 5px;
	background-color: transparent;
	font-weight: normal;
	background-image: none;
}

#menu ul li:hover > ul {
    display: block;
}

#nav ul li ul{
	border-top: medium none;
    position: absolute;
    top: 100%;
    display: none;
    min-width: 150px;
    width:auto;
    margin: 0;
}
#menu{
	z-index: 9000;
}
#nav ul li a,
#nav ul li span{
	height:auto;
	padding:4px 6px;
	display: block;
	margin: 0;
	text-decoration: none;
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-weight: bold;
	font-size: 13px;
}
#nav ul li ul li ul {
	left: 100%;
	top: 5%;
}

#nav ul li ul li.parent,
#nav ul li ul li.parent.active,
#nav ul li ul li.parent.active:hover,
#nav ul li ul li.parent:hover
{
	background-image:url(../images/arrow_right.gif);
	position: relative;
	background-repeat: no-repeat;
	background-position: right center;
}
#nav ul li ul li:hover{
	background-image: none;
	background-color:#0A5C99;
	color: #fff;
}

#footer .menu{
	display: table;
	margin: 0 auto;
}
#footer li{
	margin-left: 30px;
}
.menu ul{
	margin-left: 0;
}

.menu ul.small {
	padding: 5px 0 0 0;
	font-size: 13px;
	line-height: 150%;
}
