#wrap {width: 760px;margin-right: auto;margin-left: auto;position: relative;}
.designer {width: 760px;margin-right: auto;margin-left: auto;position: relative;text-align:center;}
#nav li, #nav {font-size: 12px;}