div.module div div, div.moduleS1 div div, div.moduleS2 div div, div.moduleS3 div div, div.modulebdr div div {height:1%;}
span.pathway {_margin-top:10px;}
#footer p {line-height: 12px;}
#nav a {line-height: 40px;_line-height: 40px;_margin-left:4px;_float:left;}
#nav li:hover,#nav li.iehover,#nav {_position:relative;}
#nav li ul {_top:42px;_position:absolute;}
#nav li li:hover ul,
#nav li.iehover ul,
#nav li li.iehover ul,
#nav li li li.iehover ul
,#nav li li li li.iehover ul {_left:0;}
#nav li ul ul {_margin: -42px 0 0 173px;}