body {font-family: Georgia, "Times New Roman", Times, serif;}
.componentheading {font-family: times, Times New Roman, times-roman, georgia, serif;}
table.blog td.contentheading {font-family: Georgia, "Times New Roman", Times, serif;}
td.contentheading {font-family: times, Times New Roman, times-roman, georgia, serif;}
p.quote {font-family: times, "Times New Roman", times-roman, georgia, serif;}
#nav li, #nav {font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;}
