
/*
----------------------------------------------------
                 MAIN FONT & BG COLOR
----------------------------------------------------
*/

body {
	color: #515151;
	background: #c0cf7f url(../images/style5/body_bg.png) repeat-x 0 top;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 80%;
}


/*
----------------------------------------------------
                 HEADER GRAPHIC
----------------------------------------------------
*/


#header {
	background: #f2f2f2 url(../images/style5/header_main.png) repeat-x 0 top;
}

#logo-graphic h1 a {
	background: url(../images/style5/logo.png) no-repeat;
}

/*
----------------------------------------------------
                 HEADER TEXT
----------------------------------------------------
*/
#logo-text h1 a {
	margin-top: 20px;
	margin-left: 10px;
	color: #619319;
	letter-spacing: -2px;
	font-weight: bold;
	font-size: 1.8em;
}
#logo-text h2 {
	margin-left: 14px;
	font-size: 1.8em;
	color: #223b0b;
}

/*
----------------------------------------------------
                 PRIMARY LINK COLORS
----------------------------------------------------
*/
a {
	color: #728e14;
	text-decoration: underline;

}
a:hover {
	color: #728e14;
	text-decoration: none;
}

/*
----------------------------------------------------
                   READ MORE LINKS
----------------------------------------------------
*/

a.readon {
	text-decoration: none;
	background: url(../images/readon.png) no-repeat 0px 2px;
	font-size: 14px;
	line-height: 18px;
	padding: 0px 0px 0px 17px;
}
a.readon:hover {
	text-decoration: underline;
}


/*
----------------------------------------------------
                   HEADING STYLES
----------------------------------------------------
*/

.componentheading {
	color: #223b0b;
	line-height: 1.35em;
	border-bottom: 1px solid #eee;
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 2.5666em;
	letter-spacing: -2px;
	font-weight: bold;
}

/* CONTENT HEADINGS */
table.blog td.contentheading {
	font-size:1.8666em;
	line-height: 1.1em;
	letter-spacing: -1px;
	color: #444;
	border-bottom: 1px solid #f5f5f5;
}
/* CONTENT HEADINGS */
td.contentheading {
	font-size:2.1em;
	line-height: 1.1em;
	letter-spacing: -2px;
	color: #444;
}
/* CONTENT HEADINGS (LINKED) */
a.contentpagetitle {
	text-decoration: none;
	line-height: 1.1em;
	color: #729e36;
}
a.contentpagetitle:hover {
	color: #121517;
}

/* NEWSFLASH moduletable */

#newsflash td.contentheading,
#newsflash a.contentpagetitle {
	font-size: 1.3em;
	line-height: 1.5em;
	letter-spacing: normal;
}

#newsflash a {
	color: #f3be26;
}

#newsflash a:hover {
	color: #697d2e;
}

#newsflash p, #newsflash td {
	padding: 0;
	margin: 0px;
	color: #686868;
}




/* HEADINGS H1-H6 */

h1 {
	color: #3a3a3a;
	font-weight: normal;
	font-style: normal;
	font-size: 2.3em;
	line-height: 1em;
	letter-spacing: -1px;
}

h2 {
	color: #647e15;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 1em;
	letter-spacing: -1px;
}

h3 {
	color: #93b556;
	font-weight: normal;
	font-style: normal;
	font-size: 1.7em;
	line-height: 1em;
	letter-spacing: -1px;
}

h4 {
	color: #e3a922;
	font-weight: normal;
	font-style: normal;
	font-size: 1.4em;
	line-height: 1em;
	letter-spacing: -1px;
}


p.info {
    background: #F8FAFC url(../images/info.png) center no-repeat;
    background-position: 15px 50%; /* x-pos y-pos */
    text-align: left;
    padding: 5px 20px 5px 45px;
    border-top: 2px solid #B5D4FE;
    border-bottom: 2px solid #B5D4FE;
}

p.warn {
    background: #FFF7C0 url(../images/warn.png) center no-repeat;
    background-position: 15px 50%; /* x-pos y-pos */
    text-align: left;
    padding: 5px 20px 5px 45px;
    border-top: 2px solid #F7D229;
    border-bottom: 2px solid #F7D229;
}

p.alert {
    background: #FBEEF1 url(../images/exc.png) center no-repeat;
    background-position: 15px 50%; /* x-pos y-pos */
    text-align: left;
    padding: 5px 20px 5px 45px;
    border-top: 2px solid #FEABB9;
    border-bottom: 2px solid #FEABB9;
}

span.arrow {
	background: url(../images/list-arrow.png) no-repeat 0 4px;
	padding-left: 14px;
}



/* CODE  */
pre {
	background: #F6F6F6;
	border: 1px dotted #c4c4c4;
	color: #000;
	display: block;
	padding: 5px;
	white-space: normal;
	font: 1em "Courier New", Courier, monospace;
}



p.quote:first-letter{text-transform: uppercase;}
p.quote {
	color: #424242;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing:0.1em;
	text-align:center;
	margin: 24px auto;
	text-transform: lowercase;
	line-height: 125%;
	font-size: 1.26666em;
	font-variant: small-caps;
	border-bottom: 4px solid #eee;
	border-top: 4px solid #eee;
	padding:  5px;

}


ul li span.small {
	font-variant: normal;
	font-size: .8em;
	text-transform: none;
	line-height: .5em;
}

/*
----------------------------------------------------
            INNER CONTENT MAIN BG COLOR
----------------------------------------------------
*/


#wrap {
	background: #FFF;
	}
	


/*
----------------------------------------------------
                "S1" moduletable SUFFIX
----------------------------------------------------
*/


/* "S1" TEXT COLOR */
div.moduletableS1 {
	color: #51504a;
}



/* "S1" LINK COLOR */
div.moduletableS1 a,div.moduletableS1 a:hover,
div.moduletableS1 a.latestnewsS1,div.moduletableS1 a.latestnewsS1:hover,
div.moduletableS1 a.mostreadS1,div.moduletableS1 a.mostreadS1:hover {
	color: #4c7513;
}
/* "S1" moduletable HEADING COLOR */
div.moduletableS1 h3 {
	color: #456b11;
	font-size: 1.2em;
	letter-spacing:normal;
	line-height: .75em;
    padding: 10px;
}


/*
----------------------------------------------------
                 "S2" moduletable SUFFIX
----------------------------------------------------
*/


/* "S2" TEXT COLOR */
div.moduletableS2 {
	color: #1b1b1b;
}
/* "S2" LINK COLOR */
div.moduletableS2 a,div.moduletableS2 a:hover,
div.moduletableS2 a.latestnewsS2,div.moduletableS2 a.latestnewsS2:hover,
div.moduletableS2 a.mostreadS2,div.moduletableS2 a.mostreadS2:hover {
	color: #4c7513;
}
/* "S2" moduletable HEADING COLOR */
div.moduletableS2 h3 {
	color: #fff;
	font-size: 1.2em;
	letter-spacing:normal;
	line-height: .75em;
    padding: 10px;
}


/*
----------------------------------------------------
                 "S3" moduletable SUFFIX
----------------------------------------------------
*/


/* "S3" TEXT COLOR */
div.moduletableS3 {
	color: #f8ffc6;
}

/* "S3" LINK COLOR */
div.moduletableS3 a,div.moduletableS3 a:hover,
div.moduletableS3 a.latestnewsS3,div.moduletableS3 a.latestnewsS3:hover,
div.moduletableS3 a.mostreadS3,div.moduletableS3 a.mostreadS3:hover
 {
	color: #fff;
}

/* "S3" moduletable HEADING COLOR */
div.moduletableS3 h3 {
	color: #516f1b;
	font-size: 1.2em;
	letter-spacing:normal;
	line-height: .75em;
    padding: 10px;
}

/*
----------------------------------------------------
           "bdr" moduletable SUFFIX (default)
----------------------------------------------------
*/

/* "bdr" TEXT COLOR */
div.moduletable,div.moduletablebdr {
	color: #333;
}


/* "bdr" LINK COLOR */
div.moduletable a,div.moduletablebdr a,
div.moduletable a:hover,div.moduletablebdr a:hover,
div.moduletable a.latestnews,div.moduletablebdr a.latestnewsbdr,
div.moduletable a.latestnews:hover,div.moduletablebdr a.latestnewsbdr:hover,
div.moduletable a.mostread,div.moduletablebdr a.mostreadbdr,
div.moduletable a.mostread:hover,div.moduletablebdr a.mostreadbdr:hover {
	color: #5e760f;
}

/* "bdr" moduletable HEADING COLOR */
div.moduletable h3, div.moduletablebdr h3 {
	color: #223b0b;
	font-size: 1.2em;
	letter-spacing:normal;
    padding: 10px;
}

/*
----------------------------------------------------
               PATHWAY/BREADCRUMBS
----------------------------------------------------
*/
.path {
	background-color: #f7f7f7;
	border: 1px solid #eee;
	margin: 8px;
	padding: 8px;
	font-size: 1.13333em;
}

/*
----------------------------------------------------
                        FOOTER
----------------------------------------------------
*/

/*TEXT*/


#footer {
	background-color: #749e28;
	color: #fff;
}

/*LINKS*/
#footer a, #footer #mainlevel li a {
	font: 11px Arial, Helvetica, sans-serif;
	color: #efefef;
}
#footer a:hover,
#footer #mainlevel li a:hover,
#footer #mainlevel li a#active_menu {
	color: #ccc;
	text-decoration: underline;
}

/*
----------------------------------------------------
                    IMAGE STYLES
----------------------------------------------------
*/

img.left {float:left;margin-right:5px;background-color:#f4f4f4;border:1px solid #eaeaea;padding:4px;margin-top:5px;}
img.right {float:right;margin-left:5px;background-color:#f4f4f4;border:1px solid #eaeaea;padding:4px;margin-top:5px;}
img.pad {float:none;margin:0px auto;background-color:#f4f4f4;border:1px solid #eaeaea;padding:4px;margin-top:5px;}


/*
----------------------------------------------------
                    JOOMLA! STYLES
----------------------------------------------------
*/

li.latestnews,
li.latestnewsS1,
li.latestnewsS2,
li.latestnewsS3,
li.latestnewsbdr,
li.mostread,
li.mostreadS3,
li.mostreadS1,
li.mostreadS2,
li.mostreadbdr {
	background: url(../images/style5/bullet.gif) no-repeat 0em .35em;
}

ul.menu-sidenav li,
a.mainlevel-sidenav {
	background: url(../images/style5/bullet.gif) no-repeat 0 .15em;
	padding-left: 14px;
}

.createdate,.modifydate,.small {
	color: #838c5a;
	font-size: .85em;
	line-height: 1em;
	text-transform: lowercase;
}

/*Header for table content*/

td.sectiontableheader {
	color: #FFF;
	background: #222;
	line-height: 100%;	
}
/*Alternating table rows*/

tr.sectiontableentry1 td,td.sectiontableentry1 {
	background-color: #fff;
	border-bottom: 1px solid #f4f4f4;
}

tr.sectiontableentry2 td ,td.sectiontableentry2 {
	background-color: #fff;
	border-bottom: 1px solid #f4f4f4;
}

/* Article Overflow */

div.blog_more {
	border-top: 1px solid #e6e6d4;
}

div.blog_more ul li a {
	border-bottom: 1px solid #eee;
    background: url(../images/style5/list-arrow.png) no-repeat 4px 10px;
    text-indent: 14px;
}

div.blog_more ul li a:hover {
	background-color: #fffcdb;
}

/* Article TOC Table */

table.contenttoc {
	color: #330;
	border: 1px solid #d6d6d6;
}
table.contenttoc th {
	background-color: #ececec;
	color: #4f4f4f;
}

div.mosimage_caption {
	font-size: 0.9em;
	color: #666;
}

.pagenav {
	font-size: 1em;
	color: #CAD7A0;
}

/*
----------------------------------------------------
             STRUCTURAL TEMPLATE IMAGES
----------------------------------------------------
*/

.menuleft {
	background: url(../images/style5/menuleft.png) no-repeat left top;
}
.menuright {
	background: url(../images/style5/menuright.png) no-repeat left top;
}
.ftr-left {
	background: url(../images/style5/ftr-left.png) no-repeat left bottom;
}
.ftr-right {
	background: url(../images/style5/ftr-right.png) no-repeat left bottom;
}

div.moduletablebdr {background: url(../images/style5/topright_bdr.png) 100% 0 no-repeat;}
div.moduletablebdr div {background: url(../images/style5/topleft_bdr.png) 0 0 no-repeat;}
div.moduletablebdr div div  {background: url(../images/style5/botright_bdr.png) 100% 100% no-repeat;}
div.moduletablebdr div div div  {background: url(../images/style5/botleft_bdr.png) 0 100% no-repeat;}

div.moduletableS1 {background: url(../images/style5/topright_light.png) 100% 0 no-repeat;}
div.moduletableS1 div {background: url(../images/style5/topleft_light.png) 0 0 no-repeat;}
div.moduletableS1 div div {background: url(../images/style5/botright_light.png) 100% 100% no-repeat;}
div.moduletableS1 div div div {background: url(../images/style5/botleft_light.png) 0 100% no-repeat;}

div.moduletableS2 {background: url(../images/style5/topright_mid.png) 100% 0 no-repeat;}
div.moduletableS2 div {background: url(../images/style5/topleft_mid.png) 0 0 no-repeat;}
div.moduletableS2 div div {background: url(../images/style5/botright_mid.png) 100% 100% no-repeat;}
div.moduletableS2 div div div {background: url(../images/style5/botleft_mid.png) 0 100% no-repeat;}

div.moduletableS3 {background: url(../images/style5/topright_dark.png) 100% 0 no-repeat;}
div.moduletableS3 div {background: url(../images/style5/topleft_dark.png) 0 0 no-repeat;}
div.moduletableS3 div div {background: url(../images/style5/botright_dark.png) 100% 100% no-repeat;}
div.moduletableS3 div div div {background: url(../images/style5/botleft_dark.png) 0 100% no-repeat;}



/* @group TOPNAV CUSTOMIZATION */


/*
----------------------------------------------------
               SUCKERFISH MENU COLORS
----------------------------------------------------
*/

#mbar #nav ul.menu li {
	font-weight: normal;
	font-weight: bold;
}
#nav ul li a {
/* NAV UP COLOR */	color: #456b11;
	background: url(../images/style5/nav_left_up.png) no-repeat left center;
}

#nav ul li a:hover,
#nav ul li:hover a,
#nav ul li.iehover a {
/* NAV OVER COLOR */	color: #3a590e;
	background: url(../images/style5/nav_left_over.png) no-repeat left center;
}

#nav li#current a,
#nav li#current a:hover,
#nav li#current:hover a,
#nav li#current.iehover a {
/* NAV ACTIVE COLOR */	color: #456c13;
	background: url(../images/style5/nav_left_active.png) no-repeat left center;
}
#nav li#current,
#nav li#current:hover,
#nav li#current.iehover {
	background: url(../images/style5/nav_right_active.png) no-repeat right center;
}


#nav ul li:hover li a,
#nav ul li.iehover li a,
#nav ul li#current:hover li a,
#nav ul li#current.iehover li a,
#nav ul li:hover ul ul li a {
/* LEVEL 2 NAV UP COLOR */	color: #fff;
	background-image: none;
}


#nav li:hover ul, 
#nav li li:hover ul, 
#nav li li li:hover ul, 
#nav li li li li:hover ul,
#nav li.iehover ul, 
#nav li li.iehover ul, 
#nav li li li.iehover ul,
#nav li li li li.iehover ul,
#nav ul li:hover li a,
#nav ul li.iehover li a,
#nav ul li:hover ul ul li a,
#nav ul li.iehover ul ul li a
 {
/* LEVEL 2 NAV UP BG COLOR */	background-color: #759a2c;
}

#nav li ul li a:hover,
#nav li ul li ul li a:hover,
#nav li li:hover,
#nav ul li li.iehover,
#nav li li.iehover a,
#nav ul li li:hover a,
#nav ul li li:hover,
#nav ul li li.iehover,
#nav ul li li#current a:hover,
#nav li.haschild ul li#current.iehover,
#nav li.haschild ul li#current:hover,
#nav ul li.haschild li#current a:hover
{
/* LEVEL 2 NAV OVER BG COLOR */	background-color: #f0be2d;
/* LEVEL 2 NAV OVER TEXT COLOR */	color: #455225;
background-image: none;
}

#nav ul li#current ul li a,
#nav ul li#current ul li,
#nav ul li#current ul li a:hover,
#nav ul li#current ul li.hover
#nav ul li#current ul li.iehover,
#nav ul li.haschild li#current a {
/* LEVEL 2 ACTIVE TEXT COLOR */	color: #ffffff;
}

#nav li li {
/* LEVEL 2 SEPARATOR */	border-bottom: 1px solid #698b27;
}

#nav li ul,#nav ul ul ul a {
	width: 173px;
/* SUBLEVEL BLOCK OUTLINE */
	border-right: 1px solid #678926;
	border-left: 1px solid #678926;
	border-top: none;
}

/* END TOPNAV CUSTOMIZATION */
#nav li, #nav {background: url(../images/style5/nav_bg.png) repeat-x 0 bottom;font-weight: bold;}
#nav li {background: url(../images/style5/nav_right_up.png) no-repeat right center;}
#nav ul li:hover,#nav ul li.iehover {background: url(../images/style5/nav_right_over.png) no-repeat right center;}
#nav ul li:hover li a,#nav ul li.iehover li a {background-image: none;}
#nav ul ul a {width: 170px;}
#nav li li,#nav li.haschild ul li#current:hover,#nav li.haschild ul li#current.iehover {width: 173px;}


/* @end */
